{% extends "visiteur/navbar.html.twig" %}
{% block title %}
    Consulter Frais
{% endblock %}
{% block body %}
    <style>
        .periode input[type=text] {
            border-radius:25%;
            box-sizing: border-box;
            text-align: center;
        }
        .periode {
            border: 2px solid;
            width:90%;
            margin:auto;
            margin-top: 2em;
            border-radius: 25px;
            background-color: lightblue;
            margin-top: 1em;
            margin-bottom: 1em;
            
        }
        
        
         table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
            background-color: white;
                        
                        
            }

            td, th {
              border: 1px solid #dddddd;
              text-align: left;
              padding: 8px;
              text-align: center;
            }

            tr:nth-child(even) {
              background-color: #dddddd;
            }
            
            
            
            .fff1{
                
                border: 2px solid;
                max-width:500px;
                padding:16px;
                margin-bottom: 1em;
                margin-top:1em;
                background-color: lightcoral ;
                border-radius: 20px;
                margin-left: 10%; 
                float: left;
            }
            
            .fff2{

                border: 2px solid;
                padding:16px;
                margin-bottom: 1em;
                margin-top:1em;
                background-color: lightseagreen ;
                border-radius: 20px;
                margin-left: 2.5%;
                float: left;
                width: 55%;
            }
            
            .ficheFrais{
                 border: 2px solid;
                padding:16px;
                margin-bottom: 1em;
                margin-top:2em;
                background-color: lightsalmon ;
                border-radius: 20px;
                margin:auto;
                width: 80%;
            }
            
            
            .btn-two {
                    color: #FFF;
                    transition: all 0.5s;
                    position: relative; 
                }
                .btn-two span {
                    z-index: 2; 
                    display: block;
                    position: absolute;
                    width: 100%;
                    height: 100%;   
                }
                .btn-two::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    transition: all 0.5s;
                    border: 1px solid rgba(255,255,255,0.2);
                    background-color: rgba(255,255,255,0.1);
                }
                .btn-two::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    transition: all 0.5s;
                    border: 1px solid rgba(255,255,255,0.2);
                    background-color: rgba(255,255,255,0.1);
                }
                .btn-two:hover::before {
                  transform: rotate(-45deg);
                  background-color: red;
                }
                .btn-two:hover::after {
                  transform: rotate(45deg);
                  background-color: red;
                }
                
                div[class*=box] {
                    height: 33.33%;
                    width: 80%; 
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin: auto;
                  
                }

                .box-2 { background-color: lightcoral; }
                
                .btn1 {
                    border-radius: 15px;
                    line-height: 25px;
                    height: 25px;
                    text-align: center;
                    width: 150px;
                    cursor: pointer;
                }
        
        
    </style>
    
    <div>
        <div class="contenu"> 
            <div class="periode">
                <h4 style="margin-left:2em">Consulter des Frais </h4>
                <center>
                      <h4>Période d'engagement:</h4>
                      
                    {% if mois|length == 0 %}
                        <h4> <font color="red">-*- Aucune Période n'est Saisie !!! -*-</font></h4>
                    
                    {% else %}
                    
                    <label>Mois : </label>
                    <form action="{{ path('ConsultFrais') }}" method="POST" >
                    <select name="mois" onchange="this.form.submit()">
                       
                            <option value="" >--Selectionner une Mois--</option>
                        
                            {% for m in mois %} 
                                {% if MoisChoise != null %}
                                    {% if m.Mois == MoisChoise %}
                                        <option value={{ m.Mois }} selected>{{ m.Mois }}</option>
                                    {% else %}
                                        <option value={{ m.Mois }}>{{ m.Mois }}</option>
                                    {% endif %}
                                 {% else %}
                                <option value={{ m.Mois }}>{{ m.Mois }}</option>
                                {% endif %}
                             {% endfor %}
                    </select>
                </form>
                {% endif %}
                <br/>
            </div>
        </div>
        {% if MoisChoise != null %}
            {% if FicheF.IdEtat.Id != 3 %}   
            <div class="ficheFrais"> 
                <h4 style="margin:auto">Fiche Frais :</h4>
                <table>
                    <thead>

                    <th>Etat</th>
                    <th>NB_Justificatifs</th>
                    <th>Date_Modif</th>
                    <th>Montant_Total</th>

                    </thead>
                    <tbody>
                        <tr>

                            <td{% if FicheF.IdEtat.Id == 1 %}
                                class="bg-success"
                               
                            {% elseif FicheF.IdEtat.Id == 2 %}
                                class="bg-danger"
                            {% else %}
                                class="bg-info"
                            {% endif %}
                                
                                
                                >{{ FicheF.IdEtat.Libelle }}</td>
                            <td>{{ FicheF.NbJustificatifs }}</td>
                            <td>{{ FicheF.DateModif|date('d-m-Y') }}</td>
                            <td>{{ FicheF.MontantValide }} €</td>
                        </tr>
                    </tbody>


                </table>

            </div>

            <div class="LigneFraisForfait"> 
                <fieldset class="fff1">
                    <legend stlye>Frais Forfait :</legend>
                    <center>
                    <div class="#" style="margin-top:2em">
                        {% for l in ligneFF %}
                            {% if  l.IdFraisForfait.Id == 1 %}
                                <label>Forfait Etape : </label>
                            {% elseif l.IdFraisForfait.Id == 2 %}
                                <label>Frais Kilométrique : </label>  
                            {% elseif l.IdFraisForfait.Id == 3 %}
                                <label>Nuitée Hôtel : </label>  
                            {% elseif l.IdFraisForfait.Id == 4 %}
                                <label>Repas Restaurant : </label>  
                            {% endif %}
                            <input style="float: right; margin-right:3em" type="number" name="{{ l.IdFraisForfait.Id }}" value={{ l.Quantite }} readonly>
                            <p></p>
                        {% endfor %}

                    </div>
                    </center>
                </fieldset>

            </div>

             <div>

               <fieldset class="fff2">
                    <legend>Frais Hors Forfait :</legend>


                    <center>
                    <div class="#" style="margin-top:2em;">
                        <table>
                            <thead>
                            <th> Date </th>
                            <th> Libelle </th>
                            <th> Montant(€)</th>


                            </thead>
                            <tbody>

                                {% for lHff in ligneHFF %}

                                    <tr>
                                        <td>{{ lHff.getDate|date('d-m-Y') }}</td>
                                        <td>{{ lHff.Libelle }}</td>
                                        <td>{{ lHff.Montant }}</td>

                                    </tr>       
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>           
                    </center>    
               </fieldset>            
             </div>        
            {% else %}
                
                <div class="ficheFrais"> 
                <h4 style="margin:auto">Fiche Frais :</h4>
                <form action="{{ path('SetNBJustificatifsDansConsulter') }}" method="POST">

                <table>
                    <thead>

                    <th>Etat</th>
                    <th>NB_Justificatifs</th>
                    <th>Date_Modif</th>
                    <th>Montant_Total</th>
                    </thead>
                    <tbody>
                        
                        <tr>

                            <td class="bg-warning">{{ FicheF.IdEtat.Libelle }}</td>
                            <td><input style="margin:auto;" type="number" name="nbJ" value="{{ FicheF.NbJustificatifs }}" ></td>
                            <td>{{ FicheF.DateModif|date('d-m-Y') }}</td>
                            <td>{{ FicheF.MontantValide }} €</td>
                        </tr>
                        </form>
                    </tbody>


                </table>
                        <center >
                            <div style="margin-top:0.5em">
                        <input class=" btn btn-success " style="width:8em;margin-right: 15px;margin-left:auto " type="submit" value="Valider">
                        <input class=" btn btn-danger " style="width:8em;margin-left: 15px;margin-right:auto" type="reset" value="reset">
                            </div>
                        </center>
                 </form>           
            </div>
                        
            <div>
        <form action="{{ path('ModifierLigneForfaitConsulter') }}" method="POST">
            <fieldset class="fff1">
                <legend stlye>Frais Forfait :</legend>
                <center>
                <div class="#" style="margin-top:2em">
                    {% for l in ligneFF %}
                        {% if  l.IdFraisForfait.Id == 1 %}
                            <label>Forfait Etape : </label>
                        {% elseif l.IdFraisForfait.Id == 2 %}
                            <label>Frais Kilométrique : </label>  
                        {% elseif l.IdFraisForfait.Id == 3 %}
                            <label>Nuitée Hôtel : </label>  
                        {% elseif l.IdFraisForfait.Id == 4 %}
                            <label>Repas Restaurant : </label>  
                        {% endif %}
                        <input style="float: right; margin-right:3em" type="number" name="{{ l.IdFraisForfait.Id }}" value={{ l.Quantite }} >
                        <p></p>
                    {% endfor %}
                    <input class=" btn btn-success " style="width:8em;margin-right: 15px " type="submit" value="Valider">
                    <input class=" btn btn-danger " style="width:8em;margin-left: 15px" type="reset" value="reset">
                </div>
                </center>
            </fieldset>
        </form>
        
        </div>
                    
                    
        
        <div>
        
           <fieldset class="fff2">
                <legend stlye>Frais Hors Forfait :</legend>

                <center>
                <div class="#" style="margin-top:2em;">
                    <table>
                        <thead>
                        <th> Date </th>
                        <th> Libelle </th>
                        <th> Montant(€)</th>
                        <th></th>
                            
                        </thead>
                        <tbody>
                            
                            {% for lHff in ligneHFF %}
                                <form action="SetMontantFFHFDansConsulter" method="POST">
                                    <tr>
                                        <td>{{ lHff.getDate|date('d-m-Y') }}</td>
                                        <td>{{ lHff.Libelle }}</td>
                                        <td><input style="float: right; margin-right:3em" type="number" name="montantFFHF" value={{ lHff.Montant }} ></td>
                                        <input type="hidden" name="idFFHF" value={{ lHff.Id }} >


                                        <td> 
                                            <div class="box-2">
                                                <div class="btn1 btn-two">
                                                    <a href="{{ path('SupperimerLHFFConsult',{ 'idLHFF' : lHff.Id }) }}" style="color: black">
                                                        <span>Supprimer</span>
                                                    </a>
                                                </div>
                                             </div>
                                        </td>
                                        <td>
                                            <input class=" btn btn-warning " style="width:8em;margin-right: 15px " type="submit" value="Modifier">
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                           
                        </tbody>
                    </table>
                </div>
                            <br/>
                <div>
                    <button onclick="document.getElementById('id01').style.display='block'" class=" btn btn-warning" style="margin: auto" type="button">Ajouter Frais Hors Forfait</button>
                </div>    
                </center>
       </fieldset>
                    <div id="id01" class="modal">
                        
                        <center>
                            
                            <div class="well" style="margin-top:5em;border:2px solid black;width:40%;background-color: lightblue;border-radius: 20px">
                                <span onclick="document.getElementById('id01').style.display='none'" class="close" style="margin-right: 5px " title="Close Modal">&times;</span>
                            {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                            {# Les erreurs générales du formulaire. #}
                            {{ form_errors(form) }}
                                <h3>
                                    <center>Ligne Hors Frais Forfait </center>
                                </h3>
                                <div class="well">
                                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                                    {# Les erreurs générales du formulaire. #}
                                    {{ form_errors(form) }}
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.libelle, "Libelle :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.libelle) }}
                                        <div class="col-sm-5">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.libelle, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.date, "Date :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.date) }}
                                        <div class="col-sm-5">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {# Génération du label. #}
                                        {{ form_label(form.montant, "Montant :", {'label_attr': {'class': 'col-sm-4 control-label'}}) }}
                                        {# Affichage des erreurs pour ce champ précis. #}
                                        {{ form_errors(form.montant) }}
                                        <div class="col-sm-5">
                                            {# Génération de l'input. #}
                                            {{ form_widget(form.montant, {'attr': {'class': 'form-control'}}) }}
                                        </div>
                                    </div>
                                    <br/>
                                    <input name="monthid" type="hidden" value={{ MoisChoise }}>       

                                    {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                                    <div class="row">
                                        <div class="container">
                                            <label class="col-md-5 control-label"></label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.valider, {'attr': {'class': 'btn btn-success btn-lg','style':'width:8em'}}) }}
                                                <p></p>
                                                <button type="button" style="width:8em;" onclick="document.getElementById('id01').style.display='none'" class="btn btn-danger btn-lg">Annuler</button>
                                            <br/>
                                            <br/>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                {% if app.session.flashBag.has('success') %}
                                <div class="alert alert-success">
                                    {% for msg in app.session.flashBag.get('success') %}
                                    {{ msg }}
                                    {% endfor %}
                                </div>
                                {% endif %}

                                {{ form_rest(form) }}
                                {# Fermeture de la balise <form> du formulaire HTML #}
                                {{ form_end(form) }}
                            </div>
                        </center>
                    </div>
                    
                    
                    
                </div>            
                    
                    
                    
                        
                
                
            {% endif %}        
                    
        {% endif %}              
                    
   
    </div> 
    
{% endblock %}

{% block javascripts %}
    <script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>

{% endblock %}
